@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 450px;
    margin: 100px auto 0;
    border-radius: 20px;
    text-align: center;
    padding: 40px 35px;
    color: #fff;
    background-color: rgb(95, 189, 230);
}
input{
    padding: 10px;
    border-radius: 20px;
}
button{
    padding: 10px;
    border-radius: 20px;
}
.weather{
    padding: 20px;
}
.weathericon{
    width: 150px;
    height: 150px;
}
.details{
    display: flex;
    justify-content: space-evenly;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 20px;
}
.col img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.humidiy, .windspeed{
    font-size: 2rem;
}